/*mobile version*/
.page {
    display: flex;
    flex-direction: column;
}
.page hr {
    margin: 0.8rem 0;
    background-color: #40493B;
}
.page h1, .page h2, .page h3 {
    color: #40493B;
    font-weight: bold;
    margin-bottom: 0;
}

.page h1 {
    font-size: 18px;
}

.page p {
    font-size: 12px;
    margin-bottom: 0.5rem;
}

.header-backdrop {
    background-image: url("../images/wallpaperflare.com_wallpaper.jpg");
    background-position: top;
    background-size: cover;
    height: 120px;
}

header {
    width: 100%;
}

.personalia-main {
    padding: 20px;
    padding-top: 0;
    border-top: 5px solid #40493B;
    background-color: #ecedeb;
}

.person-name-title {
    margin-left: 7px;
    margin-top: 7px;
}

.personalia-main h1{
    margin-bottom: 0;
    font-size: 20px;
}

.personalia-main h2 {
    margin-bottom: 0;
    font-size: 14px;
}

.profile-experience-main {
    padding: 20px;
}

.experience-block {
    margin-bottom: 1.5rem;
}
.experience-block-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.experience-block-heading .left h2 {
    font-size: 16px;
}
.experience-block-heading .left p {

}
.experience-block-heading .right {
    horiz-align: right;
    font-size: 12px;
}

.personalia-heading {
    display: flex
}

.person-logo {
    border: 5px solid #40493B;
    border-radius: 50%;
    position: relative;
    top: -70px;
    margin-bottom: -70px;
    width: 135px;
    height: 135px;
    animation: glow 3s ease alternate;
}

.profile-content-main {

}
@media only screen and (min-width: 800px) {
    
    .page {
        flex-direction: row;
    }

    .person-name {
        order: -1;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
    }

    .profile-content__period {
        font-size: 12px;
        color: #5c6166;
        display: flex;
    }
}


/*student uitwerking*/
