@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <header>
        <div class="header-backdrop"></div>
    </header>
    <section class="personalia-main">
        <div class="personalia-heading">
            <img class="person-logo" src="images/tymenvis.jpeg">
            <div class="person-name-title">
                <h1 class="person-name">Tymen Vis</h1>
                <h2>Junior Software Developer <br/> &commat; Siip Group</h2>
            </div>
        </div>
        <hr/>
        <section class="about">
            <p>
                Hello! 👋 I’m Tymen Vis, a 23-year-old tech enthusiast with a passion for kickboxing.
                As a Junior Developer at Siip Group, I enjoy tackling both front-end and back-end challenges,
                leveraging my knowledge in Java, JavaScript, PHP, NodeJS, REST APIs, AWS, Spring Boot, Figma,
                SASS, and DevOps to contribute to our projects' success. When I'm not coding,
                I mentor aspiring developers as a Software Development Tutor at Superprof,
                guiding them through the complexities of programming.
                I'm always keen to learn and take on new challenges in the ever-evolving tech landscape.
                Let's connect and grow together in this exciting tech journey!
            </p>
        </section>
        <section class="skills-main">

        </section>
    </section>
    <section class="profile-content-main">

        <section class="profile-experience-main">
            <h1>Ervaring</h1>
            <hr/>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Junior Software Developer</h2>
                        <p class="experience-block-location">Siip Group</p>
                    </div>
                    <div class="right">
                        apr 2022 - heden
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        At Siip Group, I work on enhancing digital  experiences by contributing to the development of 
                        solutions that serve  as personal keys in both digital and physical spaces. 
                        My role  encompasses various tasks, including backend development and a portion of the frontend environment. 
                        I enjoy working at Siip Group because it  allows me to apply my technical skills to create user-centric solutions, 
                        simplifying registration, booking, and access processes for users. 
                        The  collaborative and innovative environment at Siip Group keeps me engaged  and constantly learning, 
                        fueling my passion for tackling new challenges  in the tech world.
                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Tutor Software Development</h2>
                        <p class="experience-block-location">Superprof</p>
                    </div>
                    <div class="right">
                        nov 2019 - heden
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        As a Software Development Tutor at Superprof, I enjoyed mentoring students and helping them 
                        navigate the world of  programming languages and technologies. 
                        My role involved creating  customized lesson plans, addressing individual learning requirements,  
                        and offering valuable feedback. This opportunity allowed me to share my  enthusiasm for technology, 
                        support the growth of budding developers, and further deepen my own knowledge of software development techniques and  
                        concepts.
                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Machine Learning Intern</h2>
                        <p class="experience-block-location">Immigratie- en Naturalisatiedienst (IND)</p>
                    </div>
                    <div class="right">
                        apr 2022 - heden
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        I worked on researching machine learning integration posibilities.
                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Software Engineer Intern</h2>
                        <p class="experience-block-location">AS Watson Benelux</p>
                    </div>
                    <div class="right">
                        nov 2023 - jan 2024
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        The internship focused on exploring the  potential of AI chatbots, particularly 
                        investigating how they can be  utilized to help developers find relevant data efficiently.
                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Data Science Intern</h2>
                        <p class="experience-block-location">Plukon food group</p>
                    </div>
                    <div class="right">
                        apr 2023 - jun 2023
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        While working on an internal project at Plukon, 
                        I discovered the immense potential of big data and the valuable  insights it can provide through data science analysis. 
                        This experience  also revealed the significant business value that data-driven decisions  can offer.
                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>.NET & UI/UX Developer</h2>
                        <p class="experience-block-location">Shippa verzendsoftware</p>
                    </div>
                    <div class="right">
                        okt 2020 - jun 2021
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        At Shippa, a startup specializing in optimizing shipping processes, I served as a .NET & UI/UX Developer. 
                        My  responsibilities encompassed developing user-friendly shipping software, 
                        enhancing user experience, and boosting overall system performance. 
                        The dynamic startup environment provided me with invaluable experience in  
                        product development and allowed me to make a direct impact on the  company's growth and success.                    </p>
                </div>
            </div>
            <div class="experience-block">
                <div class="experience-block-heading">
                    <div class="left">
                        <h2>Trainee Cloud Developer</h2>
                        <p class="experience-block-location">Synlogic BV</p>
                    </div>
                    <div class="right">
                        aug 2019 - feb 2020
                    </div>
                </div>
                <div class="experience-block-info">
                    <p>
                        As a Trainee Cloud Developer at Synlogic, I primarily worked on Proof of Concept (POC) projects 
                        and explored various frontend solutions. 
                        My responsibilities included collaborating with the team to tackle complex challenges, 
                        contributing to diverse cloud-based projects, and learning to optimize resource usage. 
                        This position not only allowed me to enhance my technical skills but also provided valuable 
                        insights into the practical applications of cloud computing in modern software development. 
                        By working alongside a team of talented professionals, 
                        I was able to foster my growth as a developer and broaden my understanding of frontend & 
                        cloud technologies.
                    </p>
                </div>
            </div>
        </section>
        <section class="profile-education-main">
            <h1>Opleiding</h1>
            <hr/>
        </section>
    </section>
</div>
